.wrappper

  = render 'shared/side_bar'
    
.main-content
  .main-header
    .main-header__left-box
      .main-header__left-box__current-groupe
        = @group.name
      %ul.main-header__left-box__group-menbers
        = "Menber:"
        %li.main-header__left-box__group-menber
        -@group.users.each do |user|
          = user.name
        
    .main-header__edit-box
      = link_to "Edit","edit" ,class: "main-header__edit-box__text"
      
  .messages
    = render partial: 'message', collection: @messages

  .form-content
    = form_for [@group, @message] do |f|
      =f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .input-box__image   
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
          
    


